<!--<div class=" justify-content-center login-container">-->
<!--  <div class="col-sm-4 shadow login-content">-->
<!--    <h3>Login</h3>-->
<!--    <mat-form-field class="d-block">-->
<!--      <input matInput placeholder="Email" required>-->
<!--      <mat-error>Email is required</mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="d-block">-->
<!--      <input matInput placeholder="Password" required>-->
<!--      <mat-error>Password is required</mat-error>-->
<!--    </mat-form-field>-->
<!--    <button mat-raised-button color="primary">LOG IN</button>-->
<!--    <p>You don't have an account?</p>-->
<!--    <button routerLink="/registration" mat-raised-button color="accent">REGISTER</button>-->
<!--  </div>-->
<!--</div>-->

<div class="wrap-form">
  <div class="calculator-img">
    <div class="calculator-shadow"></div>
    <form>
      <h1>Login</h1>
      <div class="form_input_container">
        <input id="user" type="text">
        <label for="user">User</label>
      </div>
      <div class="form_input_container">
        <input id="password">
        <label for="password">Password</label>
      </div>
      <button>Login</button>
    </form>
  </div>
</div>
