@import "../../../assets/styles/colors";

.nav-link {
  font-size: 1.1rem;
}

.nav-link:hover {
  color: $light-blue;
}

.nav-link {
  color: $white;
  transition: 0.3s color;
}

.activated {
  color: $light-blue;
}

main {
  color: $white;

  h1 {
    text-transform: uppercase;
  }



  .calculator-img {
    position: relative;
    height: 100vh;
    background-image: url('../../../assets/img/header-mini.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
  }

  .calculator-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: -1;

  }

  .calculator-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    text-align: center;
  }

  .blue-text-calculator{
    color: $light-blue;
  }

  .btn-login {
    margin: 20px 0;
    width: 150px;
      //background: $light-blue;

  }

  //.btn-login {
  //  margin: 20px auto;
  //  padding: 12px;
  //  width: 170px;
  //  background: $light-blue;
  //  transition: .3s ease;
  //  border-radius: 10px;
  //  color: white;
  //  font-size: 25px;
  //}
  //
  //.btn-login:hover {
  //  background: transparent;
  //  border: 2px solid $light-blue;
  //  box-shadow: 0 0 10px 0 $light-blue inset, 0 0 10px 4px $light-blue;
  //  border-radius: 10px;
  //  //color: white;
  //    background: $light-blue;
  //
  //}

  @media (min-width: 1200px) {
    .calculator-img {
      //background-image: url('../../../assets/img/header-beg.jpg');
      z-index: 1;
    }
  }
}
