<!--<app-header></app-header>-->

<app-header>
  <a class="nav-link link-home activated" href="#">Home</a>
  <a class="nav-link link-doc" href="#documentation">documentation</a>
  <a class="nav-link link-contact" href="#contact">contact</a>
</app-header>

<!--  <form input-search class="d-flex " role="search">-->
<!--    <input class="form-control me-2" type="search" placeholder="Event name" aria-label="Search">-->
<!--    <button class="btn btn-outline-primary btn-search" type="submit">Search</button>-->
<!--  </form>-->


<main>
  <div class="calculator-img">
    <div class="calculator-shadow"></div>
    <div class="calculator-text">
      <h1>welcome to the expense<span class="blue-text-calculator">calculator</span></h1>
      <p>In a place where we will do everything for you</p>
      <button routerLink="/login" class="btn btn-outline-light btn-login" type="submit">
        <i class="fa-solid fa-right-to-bracket fs-1"></i>
      </button>
    </div>
  </div>
</main>

<!--<div id="documentation" style="height: 100vh; background-color: green"></div>-->
<!--<div id="contact" style="height: 100vh; background-color: red"></div>-->

