<body data-bs-spy="scroll" data-bs-target="#navbar">
<!--<nav id="navbar" class="navbar navbar-expand-lg navbar-dark position-sticky top-0 w-100">-->

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky top-0 w-100">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-people-group"></i> EXPENSE<span class="blue-text">CALCULATOR</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Event name" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search
        </button>
        <button class="btn btn-outline-light sign-up" type="submit">
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>
      </form>


    </div>
  </div>
</nav>

<!--<nav id="navbar" class="navbar navbar-expand-lg navbar-dark position-sticky top-0 w-100">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="#">pro<span class="blue-text">gamers</span></a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"-->
<!--            aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <i class="fa-solid fa-bars"></i>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--      <div class="navbar-nav ms-auto">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          <a class="nav-link" href="#features">Features</a>-->
<!--          <a class="nav-link" href="#pricing">Pricing</a>-->
<!--          <a class="nav-link disabled">Disabled</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<header>
  <div class="calculator-img">
    <div class="calculator-shadow"></div>
    <div class="calculator-text">
      <h1>welcome to the expense<span class="blue-text">calculator</span></h1>
      <p>In a place where we will do everything for you</p>
    </div>
  </div>
</header>

<!--<div style="height: 100vh;"></div>-->

</body>
